@use "bootstrap";
@use "./variables.scss" as *;

.centrato {
   display: flex;
   justify-content: center;
   align-items: center;
}

.my-btn {
   border-radius: 50px;
   border: 1px solid black;
   background-color: #1A8754;
}